---
import knowlege from '../assets/knowledge.png'
---

<section class="relative z-10 flex flex-col items-center w-full justify-center box-border px-5 py-10 lg:py-20">
    <div class="relative bg-white rounded-2xl w-full max-w-6xl flex flex-col box-border lg:flex-row">
        <div class="px-5 py-8 border-b border-black/20 w-full flex flex-col justify-center gap-5 lg:pl-10 lg:pt-10 lg:pr-21 lg:pb-23 lg:border-r ">
            <h2 class="font-runs text-2xs font-extrabold leading-6 lg:text-4xl lg:leading-10">
                Зарегистрируйтесь <br class="hidden lg:block"/>и перейдите к тесту
            </h2>
            <p class="font-circe font-semibold lg:font-bold lg:font-runs">До проверки багажа знаний один клик</p>
            <ol class="font-circe space-y-3 text-secondary leading-6 lg:text-[18px]">
                <li class="flex items-center gap-2 lg:gap-3">
                    <span class=" bg-grayLight text-secondary rounded-full w-6 h-6 flex items-center justify-center text-xs">1</span>
                    Заполните форму регистрации
                </li>
                <li class="flex items-start gap-2 lg:gap-3">
                    <span class="bg-gray-200 text-secondary rounded-full w-6 h-6 flex items-center justify-center text-xs">2</span>
                    Нажмите «Пройти тест»
                </li>
                <li class="flex items-start gap-2 lg:gap-3">
                    <span class="bg-gray-200 text-secondary rounded-full w-6 h-6 flex items-center justify-center text-xs">3</span>
                    Ответьте на 7 вопросов
                </li>
                <li class="flex items-start gap-2 lg:gap-3">
                    <span class="bg-gray-200 text-secondary rounded-full w-6 h-6 flex items-center justify-center text-xs">4</span>
                    Получите подарки
                </li>
            </ol>
        </div>
        <div class="px-5 pt-7 pb-22 lg:p-10 flex flex-col justify-center">
            <form class="flex flex-col gap-6  lg:gap-4">
                <fieldset class="font-circe text-[14px] flex flex-col gap-3 lg:text-[18px]">
                    <input
                            type="text"
                            placeholder="Имя"
                            class="w-full rounded-xl border bg-grayLight border-none px-4 py-2.5 lg:px-5 lg:py-3.5"
                    />
                    <input
                            type="tel"
                            placeholder="Телефон"
                            class="w-full rounded-lg border bg-grayLight border-none px-4 py-2.5 lg:px-5 lg:py-3.5"
                    />
                    <input
                            type="email"
                            placeholder="Email"
                            class="w-full rounded-lg border bg-grayLight border-none px-4 py-2.5 lg:px-5 lg:py-3.5"
                    />
                </fieldset>

                <label class="flex items-start gap-3">
                    <input type="checkbox" class="absolute w-5 h-5 opacity-0"/>
                    <span class="custom-box w-8 min-w-8  h-8 rounded-[8px] border-2 border-secondary bg-white flex items-center justify-center">
                        <svg class="check opacity-0 transition-opacity duration-200" xmlns="http://www.w3.org/2000/svg" width="18"
                             height="14" viewBox="0 0 18 14" fill="none">
                          <path d="M1.80005 5.98337L6.60005 10.8L16.2 1.20001" stroke="#25262C" stroke-width="3.2"/>
                        </svg>
                    </span>
                    <span class="font-circe text-[14px] leading-[18px] text-secondary">
                        Принимаю условия <a href="#" class="text-primary underline underline-offset-3">соглашения</a> и даю согласие на
                        обработку
                        своих персональных данных на условиях <a href="#" class="text-primary underline underline-offset-3">политики
                        конфиденциальности</a>
                    </span>
                </label>
                <button
                        type="submit"
                        class="font-runs bg-orangeBtn  text-white font-extrabold py-3.5 rounded-[48px] transition"
                >
                    Пройти тест
                </button>
            </form>
        </div>
        <img src={knowlege.src} class="absolute -bottom-20 left-1/2 -translate-x-1/2 w-64 lg:left-28 lg:-translate-x-0 lg:w-auto lg:-bottom-32"  alt="knowlege"/>
    </div>
</section>

<style>
    input:checked + .custom-box .check {
        opacity: 1;
    }
</style>